<div class="at-dept-root">
    <div class="at-dept">
        <table class="at-dept-tab">
            <tr>
                <td ng-repeat="idx in fenceIdxs">
                    <div at-dept-fence offset index='idx'></div>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div class="alert {{singleSelect ? 'alert-success' : 'alert-info'}} {{ selectItems.length > 0 ?'alert-padding-bottom' : ''}}">
            <strong ng-if="!singleSelect">已选中项(多选): </strong>
            <strong ng-if="singleSelect">已选中项(单选): </strong>
            <br ng-if="!singleSelect">
            <span ng-repeat="item in selectItems" class="label label-warning">{{item.name}}</span>
        </div>
    </div>
</div>