<div class="dropdown">
    <input type="text" class="form-control" placeholder="Search">
    <ul class="at-dept-search dropdown-menu">
        <li>
            <div>
                <span class="label label-primary">DEPT1</span>
                <span class="label label-primary">DEPT1</span>
                <span class="label label-primary">DEPT1</span>
                <span class="label label-primary">DEPT1</span>
                <span class="label label-primary">DEPT1</span>
                <span class="label label-primary">DEPT1</span>
                <span class="label label-primary">DEPT1</span>
                <span class="label label-primary">DEPT1</span>
                <span class="label label-primary">DEPT1</span>
                <span class="label label-primary">DEPT1</span>
                <span class="label label-primary">DEPT1</span>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="fence.checked"> 业务群
                </label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="fence.checked"> 业务群
                </label>
            </div>
        </li>
    </ul>
</div>